<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false">

    <serverUrls>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/外业点位图map20151207/MapServer"    matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/kgmap/MapServer"   matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/一张网底图/MapServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/危险企业红线点位动态Map/MapServer" matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/危险企业红线点位动态Map/MapServer?f=jsapi"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/一张网动态图/MapServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/一张网企业项目动态图map/MapServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/路面病害/MapServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/闲置厂房及楼宇/MapServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/info"  matchAll="true"/>

        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/在线编辑/空港裸露地块/FeatureServer"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/在线编辑/空港裸露地块/FeatureServer/0/applyEdits"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/在线编辑/空港裸露地块/FeatureServer/0/query"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/天津市/天津市路网编辑/FeatureServer"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/天津市/天津市路网编辑/FeatureServer/0/applyEdits"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/天津市/天津市路网编辑/FeatureServer/0/query"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/天津市/天津市路网编辑/FeatureServer/0/updateFeatures"    matchAll="true"/>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/天津市/天津市路网编辑/FeatureServer/0/deleteFeatures"    matchAll="true"/>

        <serverUrl url="http://services.arcgisonline.com"   matchAll="true"/>

        <serverUrl url="http://geoenrich.arcgis.com"   matchAll="true"/>
    </serverUrls>
</ProxyConfig>
